<a href="https://colab.research.google.com/github/felipesembay/portfolio/blob/main/Fundos_Imobili%C3%A1rios_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import numpy as np

### 1. Definindo cabeçalho da requisição

In [2]:
url = 'https://www.fundsexplorer.com.br/ranking'
headers = {
    'User-Agent': 
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36'
        ' (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
}

In [3]:
response = requests.get(url, headers=headers)
if response.status_code == 200:
    df = pd.read_html(response.content, encoding='utf-8')[0]

In [4]:
df.sort_values('Códigodo fundo', inplace=True)

In [5]:
df

    Códigodo fundo                Setor  ... VacânciaFinanceira  QuantidadeAtivos
117         ABCP11            Shoppings  ...                NaN                 1
232         AFHI11  Títulos e Val. Mob.  ...                NaN                 0
238         AFOF11  Títulos e Val. Mob.  ...                NaN                 0
151         AIEC11   Lajes Corporativas  ...                NaN                 2
3           ALMI11   Lajes Corporativas  ...                NaN                 1
..             ...                  ...  ...                ...               ...
244         XPML11            Shoppings  ...                NaN                13
86          XPPR11               Outros  ...                NaN                 4
148         XPSF11               Outros  ...                NaN                 0
2           XTED11   Lajes Corporativas  ...            100,00%                 1
31         YUFI11B          Residencial  ...                NaN                 0

[254 rows x 26 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 117 to 31
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           254 non-null    object
 1   Setor                    253 non-null    object
 2   Preço Atual              247 non-null    object
 3   Liquidez Diária          247 non-null    float64
 4   Dividendo                254 non-null    object
 5   DividendYield            243 non-null    object
 6   DY (3M)Acumulado         242 non-null    object
 7   DY (6M)Acumulado         242 non-null    object
 8   DY (12M)Acumulado        242 non-null    object
 9   DY (3M)Média             242 non-null    object
 10  DY (6M)Média             242 non-null    object
 11  DY (12M)Média            242 non-null    object
 12  DY Ano                   228 non-null    object
 13  Variação Preço           243 non-null    object
 14  Rentab.Período           243 non-null    object
 15  Rentab.Acumulada         243 non-null    object
 16  PatrimônioLíq.           254 non-null    object
 17  VPA                      254 non-null    object
 18  P/VPA                    247 non-null    float64
 19  DYPatrimonial            212 non-null    object
 20  VariaçãoPatrimonial      212 non-null    object
 21  Rentab. Patr.no Período  212 non-null    object
 22  Rentab. Patr.Acumulada   212 non-null    object
 23  VacânciaFísica           121 non-null    object
 24  VacânciaFinanceira       27 non-null     object
 25  QuantidadeAtivos         254 non-null    int64
dtypes: float64(2), int64(1), object(23)
memory usage: 53.6+ KB

In [7]:

df.describe(include='all')

       Códigodo fundo                Setor  ... VacânciaFinanceira  QuantidadeAtivos
count             254                  253  ...                 27        254.000000
unique            254                    9  ...                 18               NaN
top            XPHT11  Títulos e Val. Mob.  ...              0,00%               NaN
freq                1                   78  ...                 10               NaN
mean              NaN                  NaN  ...                NaN          3.374016
std               NaN                  NaN  ...                NaN          7.985033
min               NaN                  NaN  ...                NaN          0.000000
25%               NaN                  NaN  ...                NaN          0.000000
50%               NaN                  NaN  ...                NaN          1.000000
75%               NaN                  NaN  ...                NaN          3.000000
max               NaN                  NaN  ...                NaN         72.000000

[11 rows x 26 columns]

In [8]:
df['Setor'].unique()

array(['Shoppings', 'Títulos e Val. Mob.', 'Lajes Corporativas',
       'Logística', 'Híbrido', 'Outros', nan, 'Hospital', 'Hotel',
       'Residencial'], dtype=object)

In [9]:
df.columns

Index(['Códigodo fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos'],
      dtype='object')

### 2. Limpeza e Formatação de Dados¶

In [10]:
df.isna().sum()

Códigodo fundo               0
Setor                        1
Preço Atual                  7
Liquidez Diária              7
Dividendo                    0
DividendYield               11
DY (3M)Acumulado            12
DY (6M)Acumulado            12
DY (12M)Acumulado           12
DY (3M)Média                12
DY (6M)Média                12
DY (12M)Média               12
DY Ano                      26
Variação Preço              11
Rentab.Período              11
Rentab.Acumulada            11
PatrimônioLíq.               0
VPA                          0
P/VPA                        7
DYPatrimonial               42
VariaçãoPatrimonial         42
Rentab. Patr.no Período     42
Rentab. Patr.Acumulada      42
VacânciaFísica             133
VacânciaFinanceira         227
QuantidadeAtivos             0
dtype: int64

### Dados Categóricos

In [11]:
categorical_columns = ['Códigodo fundo','Setor']

In [12]:

idx = df[df['Setor'].isna()].index
df.drop(idx, inplace=True)

In [13]:
df[categorical_columns].isna().sum()

Códigodo fundo    0
Setor             0
dtype: int64

In [14]:
df[categorical_columns] = df[categorical_columns].astype('category')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 117 to 31
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           253 non-null    category
 1   Setor                    253 non-null    category
 2   Preço Atual              246 non-null    object
 3   Liquidez Diária          246 non-null    float64
 4   Dividendo                253 non-null    object
 5   DividendYield            242 non-null    object
 6   DY (3M)Acumulado         241 non-null    object
 7   DY (6M)Acumulado         241 non-null    object
 8   DY (12M)Acumulado        241 non-null    object
 9   DY (3M)Média             241 non-null    object
 10  DY (6M)Média             241 non-null    object
 11  DY (12M)Média            241 non-null    object
 12  DY Ano                   228 non-null    object
 13  Variação Preço           242 non-null    object
 14  Rentab.Período           242 non-null    object
 15  Rentab.Acumulada         242 non-null    object
 16  PatrimônioLíq.           253 non-null    object
 17  VPA                      253 non-null    object
 18  P/VPA                    246 non-null    float64
 19  DYPatrimonial            211 non-null    object
 20  VariaçãoPatrimonial      211 non-null    object
 21  Rentab. Patr.no Período  211 non-null    object
 22  Rentab. Patr.Acumulada   211 non-null    object
 23  VacânciaFísica           121 non-null    object
 24  VacânciaFinanceira       27 non-null     object
 25  QuantidadeAtivos         253 non-null    int64
dtypes: category(2), float64(2), int64(1), object(21)
memory usage: 62.5+ KB

In [16]:
df.isna().sum()

Códigodo fundo               0
Setor                        0
Preço Atual                  7
Liquidez Diária              7
Dividendo                    0
DividendYield               11
DY (3M)Acumulado            12
DY (6M)Acumulado            12
DY (12M)Acumulado           12
DY (3M)Média                12
DY (6M)Média                12
DY (12M)Média               12
DY Ano                      25
Variação Preço              11
Rentab.Período              11
Rentab.Acumulada            11
PatrimônioLíq.               0
VPA                          0
P/VPA                        7
DYPatrimonial               42
VariaçãoPatrimonial         42
Rentab. Patr.no Período     42
Rentab. Patr.Acumulada      42
VacânciaFísica             132
VacânciaFinanceira         226
QuantidadeAtivos             0
dtype: int64

### Dados Numéricos

In [17]:
col_floats = list(df.iloc[:,2:-1].columns)

In [18]:
## Dados nulos
df[col_floats] = df[col_floats].fillna(value=0)

In [19]:
df[col_floats]

     Preço Atual  Liquidez Diária  ... VacânciaFísica VacânciaFinanceira
117     R$ 63,47           1541.0  ...          8,20%                  0
232     R$ 98,23           5635.0  ...              0                  0
238     R$ 77,50           2131.0  ...              0                  0
151     R$ 70,86           6231.0  ...          0,00%                  0
3    R$ 1.025,00             57.0  ...         68,15%                  0
..           ...              ...  ...            ...                ...
244     R$ 91,39          36468.0  ...          4,70%                  0
86      R$ 60,00          16939.0  ...         47,00%                  0
148     R$ 72,20           6500.0  ...              0                  0
2        R$ 6,41            151.0  ...          0,00%            100,00%
31             0              0.0  ...              0                  0

[253 rows x 23 columns]

In [20]:
df[col_floats] = df[col_floats].applymap(lambda x: str(x).replace('R$', '').replace('.0','').replace('.','').replace('%','').replace(',','.'))

In [21]:
df[col_floats] = df[col_floats].astype('float')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 117 to 31
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           253 non-null    category
 1   Setor                    253 non-null    category
 2   Preço Atual              253 non-null    float64
 3   Liquidez Diária          253 non-null    float64
 4   Dividendo                253 non-null    float64
 5   DividendYield            253 non-null    float64
 6   DY (3M)Acumulado         253 non-null    float64
 7   DY (6M)Acumulado         253 non-null    float64
 8   DY (12M)Acumulado        253 non-null    float64
 9   DY (3M)Média             253 non-null    float64
 10  DY (6M)Média             253 non-null    float64
 11  DY (12M)Média            253 non-null    float64
 12  DY Ano                   253 non-null    float64
 13  Variação Preço           253 non-null    float64
 14  Rentab.Período           253 non-null    float64
 15  Rentab.Acumulada         253 non-null    float64
 16  PatrimônioLíq.           253 non-null    float64
 17  VPA                      253 non-null    float64
 18  P/VPA                    253 non-null    float64
 19  DYPatrimonial            253 non-null    float64
 20  VariaçãoPatrimonial      253 non-null    float64
 21  Rentab. Patr.no Período  253 non-null    float64
 22  Rentab. Patr.Acumulada   253 non-null    float64
 23  VacânciaFísica           253 non-null    float64
 24  VacânciaFinanceira       253 non-null    float64
 25  QuantidadeAtivos         253 non-null    int64
dtypes: category(2), float64(23), int64(1)
memory usage: 62.5 KB

In [23]:
df.describe()

        Preço Atual  Liquidez Diária  ...  VacânciaFinanceira  QuantidadeAtivos
count    253.000000       253.000000  ...          253.000000        253.000000
mean     383.335178     16509.988142  ...            1.121779          3.387352
std     4282.752516     51618.480450  ...            7.390527          7.998025
min        0.000000         0.000000  ...            0.000000          0.000000
25%       66.000000       200.000000  ...            0.000000          0.000000
50%       85.990000      2737.000000  ...            0.000000          1.000000
75%      100.000000     12580.000000  ...            0.000000          3.000000
max    68157.600000    627384.000000  ...          100.000000         72.000000

[8 rows x 24 columns]

In [24]:
## Check infinity values pandas
df[np.isinf(df[col_floats]).any(1)]

Empty DataFrame
Columns: [Códigodo fundo, Setor, Preço Atual, Liquidez Diária, Dividendo, DividendYield, DY (3M)Acumulado, DY (6M)Acumulado, DY (12M)Acumulado, DY (3M)Média, DY (6M)Média, DY (12M)Média, DY Ano, Variação Preço, Rentab.Período, Rentab.Acumulada, PatrimônioLíq., VPA, P/VPA, DYPatrimonial, VariaçãoPatrimonial, Rentab. Patr.no Período, Rentab. Patr.Acumulada, VacânciaFísica, VacânciaFinanceira, QuantidadeAtivos]
Index: []

In [25]:
idx = df[np.isinf(df[col_floats]).any(1)].index
df.drop(idx, inplace=True)

In [26]:
df['P/VPA'] = df['P/VPA']/100

In [27]:
df.describe()

        Preço Atual  Liquidez Diária  ...  VacânciaFinanceira  QuantidadeAtivos
count    253.000000       253.000000  ...          253.000000        253.000000
mean     383.335178     16509.988142  ...            1.121779          3.387352
std     4282.752516     51618.480450  ...            7.390527          7.998025
min        0.000000         0.000000  ...            0.000000          0.000000
25%       66.000000       200.000000  ...            0.000000          0.000000
50%       85.990000      2737.000000  ...            0.000000          1.000000
75%      100.000000     12580.000000  ...            0.000000          3.000000
max    68157.600000    627384.000000  ...          100.000000         72.000000

[8 rows x 24 columns]

### Analisando Média por setor

In [28]:
indicadores = ['Códigodo fundo',
               'Setor',
               'Preço Atual', 
               'DY (12M)Acumulado', 
               'VacânciaFísica', 
               'VacânciaFinanceira', 
               'P/VPA', 
               'QuantidadeAtivos', 
               'Liquidez Diária']

In [29]:
df_aux = df[indicadores]

In [30]:
df_aux

    Códigodo fundo                Setor  ...  QuantidadeAtivos  Liquidez Diária
117         ABCP11            Shoppings  ...                 1           1541.0
232         AFHI11  Títulos e Val. Mob.  ...                 0           5635.0
238         AFOF11  Títulos e Val. Mob.  ...                 0           2131.0
151         AIEC11   Lajes Corporativas  ...                 2           6231.0
3           ALMI11   Lajes Corporativas  ...                 1             57.0
..             ...                  ...  ...               ...              ...
244         XPML11            Shoppings  ...                13          36468.0
86          XPPR11               Outros  ...                 4          16939.0
148         XPSF11               Outros  ...                 0           6500.0
2           XTED11   Lajes Corporativas  ...                 1            151.0
31         YUFI11B          Residencial  ...                 0              0.0

[253 rows x 9 columns]

In [31]:
media_setor = df_aux.groupby('Setor').agg(['mean','std'])

In [32]:
media_setor

                     Preço Atual                ... Liquidez Diária
                            mean           std  ...            mean            std
Setor                                           ...
Hospital              181.776667    160.387931  ...      599.000000     487.163217
Hotel                  89.640000      1.518914  ...     2297.333333    2021.858139
Híbrido              1743.906341  10631.581554  ...    28575.097561  104926.777272
Lajes Corporativas    145.019744    313.306009  ...     4900.820513    9100.781843
Logística             107.979545     54.692044  ...    14869.454545   17294.259127
Outros                112.975556    164.991072  ...    17377.277778   39125.214579
Residencial            47.100000     40.683451  ...     1519.000000    2337.188375
Shoppings             239.189091    474.274338  ...     5960.500000   10252.104076
Títulos e Val. Mob.    88.267821     68.667989  ...    21898.910256   43601.380789

[9 rows x 14 columns]

In [33]:
media_setor.loc['Residencial', ('DY (12M)Acumulado', 'mean')]

0.6944444444444444

### Criando uma função com uma estratégia para oportunidades do mercado

In [34]:
def oportunidade_media_setor(df, setor='Shoppings', label_setor='Setor'):
    
    media_setor = df_aux.groupby('Setor').agg(['mean','std'])
    
    df_setor = df[df[label_setor].isin([setor])]
    
    filter_ = \
            (df_setor['QuantidadeAtivos'] > 5) &\
            (df_setor['Liquidez Diária'] > 5000) &\
            (df_setor['P/VPA'] < 1.0) &\
            (df_setor['DY (12M)Acumulado'] > media_setor.loc[setor, ('DY (12M)Acumulado','mean')]) 
            
    print('média do setor Yield: {}'.format(media_setor.loc[setor, ('DY (12M)Acumulado','mean')]))
    print('média do setor p/VPA: {}'.format(media_setor.loc[setor, ('P/VPA','mean')]))
    print('média do setor Ativos: {}'.format(media_setor.loc[setor, ('QuantidadeAtivos','mean')]))
    
    return df_setor[filter_]

In [35]:
list(df['Setor'].unique())

['Shoppings',
 'Títulos e Val. Mob.',
 'Lajes Corporativas',
 'Logística',
 'Híbrido',
 'Outros',
 'Hospital',
 'Hotel',
 'Residencial']

In [36]:
oportunidade = oportunidade_media_setor(df_aux, setor='Títulos e Val. Mob.')
oportunidade.sort_values('DY (12M)Acumulado', ascending=False, inplace=True)
oportunidade

média do setor Yield: 6.433076923076923
média do setor p/VPA: 0.9110256410256412
média do setor Ativos: 0.07692307692307693

Empty DataFrame
Columns: [Códigodo fundo, Setor, Preço Atual, DY (12M)Acumulado, VacânciaFísica, VacânciaFinanceira, P/VPA, QuantidadeAtivos, Liquidez Diária]
Index: []

In [37]:
df.loc[(df['Códigodo fundo']=='VGHF11')]

   Códigodo fundo                Setor  ...  VacânciaFinanceira  QuantidadeAtivos
55         VGHF11  Títulos e Val. Mob.  ...                 0.0                 0

[1 rows x 26 columns]